<%- include('partials/header') %>


<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
  <% for(var i=0;i<item.length;i++){ %>
    <div class="column" style="padding-bottom: 50px;">
      
     <b><h3 class="custom"> <%= item[i].head %></h3></b>
      
      <b><h6 style="text-align:left;margin-left: 39.7%;padding-top: 20px;">Username:&nbsp;&nbsp;<%= item[i].username %></h6></b>
      
      <b><h6 style="text-align:left;margin-left: 40%;padding-top: 20px;color: darkslategrey;">Password:&nbsp;&nbsp;<%= item[i].password %></h6></b>
    </div>

  
    <% }%>    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">ADD</a>
  </div>
</div>


<%- include('partials/footer') %>
